# Gemini API Key for NL2SPARQL agent and other LLM services
GOOGLE_API_KEY=YOUR_GOOGLE_API_KEY_HERE

# NVD API Key to avoid NVD rate limits (optional but highly recommended)
NVD_API_KEY=YOUR_NVD_API_KEY_HERE

# Virtuoso configuration (defaults to 'localhost' for host and 'cskg-sparql' for container)
VIRTUOSO_HOST=localhost
VIRTUOSO_CONTAINER=cskg-sparql